doctype html
html
  head
    title David Magee 
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .main
        .header
          ul.buttonList
            li
              button.headerButton About
            li
              button.headerButton Work
            li
              button.headerButton Contact
        .coverSection
          .coverSectionOverlay
        .skillsSection
          .skillsSectionTitle
            hr
            .skillsTitle
              h1 Skills
            hr
  script(src="/public/css/jquery-3.2.1.min.js")
  script(src="/public/css/script.js")