doctype html
html
  head
    title David Magee 
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .main
        .header
          ul.buttonList
            li
              button.headerButton About
            li
              button.headerButton Work
            li
              button.headerButton Contact
        .coverSection
          .coverSectionOverlay
        .workSection
        .skillsSection
          .skillsSectionTitle
            hr
            .skillsTitle
              h1 Skills
            hr
          .skillsList
            .skillRow
              .skill
                .skillImage
                  img(src='/public/css/css3.png')
                h1.skillName CSS3
              .skill
                .skillImage
                  img(src='/public/css/html5f.png')
                h1.skillName HTML5
              .skill
                .skillImage
                  img(src='/public/css/javascript.png')
                h1.skillName Javascript
              .skill
                .skillImage
                  img(src='/public/css/nodejs-logo.png')
                h1.skillName Node.js
              .skill
                .skillImage
                  img(src='/public/css/express.png')
                h1.skillName Express.js
            .skillRow
              .skill
                .skillImage
                  img(src='/public/css/mongodb-logo.png')
                h1.skillName MongoDB
              .skill
                .skillImage
                  img(src='/public/css/react.png')
                h1.skillName React
              .skill
                .skillImage
                  img(src='/public/css/redux.png')
                h1.skillName Redux
              .skill
                .skillImage
                  img(src='/public/css/heroku.png')
                h1.skillName Heroku
              .skill
                .skillImage
                  img(src='/public/css/GitHub-Mark-120px-plus.png')
                h1.skillName GitHub
  script(src="/public/css/jquery-3.2.1.min.js")
  script(src="/public/css/script.js")