doctype html
html
  head
    title David Magee 
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .main
        .header
          ul.buttonList
            li
              button.headerButton(id='aboutButton') About
            li
              button.headerButton(id='workButton') Work
            li
              button.headerButton(id='contactButton') Contact
        .coverSection
          .coverSectionOverlay
            .coverText
              p.coverline1 Hi, I'm <span>David</span>. I am a
              p.coverline2 web developer
              p.coverline3 living in Houston, Texas.
            .coverButtonSection
              .githubCoverButton
                p View Github
        .workSection
          h1.workSectionTitle My Work
          .work
            .workInfo
              h1.workTitle Image Sharing App
              p.workDescription This image sharing app is a web application that allows you to link to images on the web and create a personal wall of your favorite images. This application utilizes both local and twitter authentication to keep track of users.
              h3.technologies Technologies:
              p.technologyList HTML5, CSS3, React, Redux, Express.js, MongoDB
              a(href='https://dmagee-imageshare.herokuapp.com/')
                .viewLiveButton View Live
            .workImage
              img.computerPreview(src='/public/css/placeit.png')
          .work
            .workImage
              img.computerPreviewLeft(src='/public/css/placeit (2).png')
            .workInfo
              h1.workTitle Book Trading App
              p.workDescription This book club app is a web application that allows you list books that you own, propose trade requests to other users, and then approve those requests. This application utilizes local authentication to keep track of users.
              h3.technologies Technologies:
              p.technologyList HTML5, CSS3, React, Redux, Express.js, MongoDB, Highcharts.js, Yahoo Finance API
              a(href='https://dmagee-booktrading.herokuapp.com/')
                .viewLiveButton View Live
          .work
            .workInfo
              h1.workTitle Stock Market Tracking App
              p.workDescription This stock market tracking app is a web application that allows you to input a stock symbol and generate a graph of the stock price over time. This application utilizes websockets to share the same graphs between users.
              h3.technologies Technologies:
              p.technologyList HTML5, CSS3, React, Redux, Express.js, MongoDB
              a(href='https://dmagee-stockmarket.herokuapp.com/')
                .viewLiveButton View Live
            .workImage
              img.computerPreview(src='/public/css/placeit (3).png')
          .work
            .workImage
              img.computerPreviewLeft(src='/public/css/placeit (4).png')
            .workInfo
              h1.workTitle Nightlife App
              p.workDescription This nightlife app is a web application that allows you to search for bars and clubs in your area, find information on them through the Yelp API, and confirm whether you will be going to them that night. This application utilizes google authentication to keep track of users.
              h3.technologies Technologies:
              p.technologyList HTML5, CSS3, Pug, Express.js, MongoDB, Yelp API
              a(href='https://dmagee-nightlife.herokuapp.com/')
                .viewLiveButton View Live
          .work
            .workInfo
              h1.workTitle Voting App
              p.workDescription This voting app is a web application that allows you to create a poll and then share the link for people to vote on it. This application utilizes github authentication to keep track of users.
              h3.technologies Technologies:
              p.technologyList HTML5, CSS3, Pug, Express.js, MongoDB
              a(href='https://dmagee-voting.herokuapp.com/')
                .viewLiveButton View Live
            .workImage
              img.computerPreview(src='/public/css/placeit (5).png')
        .skillsSection
          .skillsSectionTitle
            hr
            .skillsTitle
              h1 Skills
            hr
          .skillsList
            .skillRow
              .skill
                .skillImage
                  img(src='/public/css/css3.png')
                h1.skillName CSS3
              .skill
                .skillImage
                  img(src='/public/css/html5f.png')
                h1.skillName HTML5
              .skill
                .skillImage
                  img(src='/public/css/javascript.png')
                h1.skillName Javascript
              .skill
                .skillImage
                  img(src='/public/css/nodejs-logo.png')
                h1.skillName Node.js
              .skill
                .skillImage
                  img(src='/public/css/express.png')
                h1.skillName Express.js
            .skillRow
              .skill
                .skillImage
                  img(src='/public/css/mongodb-logo.png')
                h1.skillName MongoDB
              .skill
                .skillImage
                  img(src='/public/css/react.png')
                h1.skillName React
              .skill
                .skillImage
                  img(src='/public/css/redux.png')
                h1.skillName Redux
              .skill
                .skillImage
                  img(src='/public/css/heroku.png')
                h1.skillName Heroku
              .skill
                .skillImage
                  img(src='/public/css/GitHub-Mark-120px-plus.png')
                h1.skillName GitHub
        .contactSection
          .contactTitleContainer
            h1.contactTitle Contact
          .contactForm
            input(type='text' placeholder='Name' class='smallForm')
            input(type='text' placeholder='Email' class='smallForm')
            input(type='text' placeholder='Subject' class='smallForm')
            textarea(type='text' placeholder='Information')
  script(src="/public/css/jquery-3.2.1.min.js")
  script(src="/public/css/script.js")