doctype html
html
  head
    title David Magee 
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .main
        .header
          ul.buttonList
            li
              button About
            li
              button Work
            li
              button Contact
        .coverSection
          .coverSectionOverlay
        .workSection